      <div id="header-wrapper">
        <header class="container" id="site-header">
          <div class="row">
            <div class="12u">
              <div id="logo">
                <h1></h1>
              </div>
              <nav id="nav">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/mission">Mission</a></li>
                  <li>
                    <a href="/about">About Us</a>
                    <ul>
                      <li><a href="/about/partners">Partners</a></li>
                      <li><a href="/about/friends">Friends</a></li>
                      <li><a href="/about/contactus">Contact Us</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/why">Why Sail?</a>
                    <ul>
                      <li><a href="/why/sailtransport">Sail Transport</a></li>
                      <li><a href="/why/blueeconomy">Blue Economy</a></li>
                      <li><a href="/why/foodsecurity">Food Security</a></li>
                      <li><a href="/why/localdevelopment">Local Development</a></li>
                      <li><a href="/why/healthyseas">Healthy Seas</a></li>
                      <li><a href="/why/aligninginterests">Aligning Interests</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
      </div>